//
   Created by DSch on 09.02.2017.

.container#content
  .row
    .com-sm-12
      h1 Some header...
      button.btn.btn-primary Some nice button...
      button.btn.btn-success.btn-lg Some nice large button...
  .row
    .col-sm-12
      div(data-ng-view="")